body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: #e0d7d7;
    color: #212020;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 320px;
    background: #c7bfbf;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #242424;
    overflow: hidden;
}

.logo {
    padding-bottom: 10px;
    text-align: center;
}

.logo img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

.logo p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    color: #666363;
}

.sidebar input {
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.categories h3 {
    margin: 10px 0;
    font-size: 16px;
}

.categories ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.categories li {
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
}

.categories li:hover, .categories li.active {
    background: #b9b4b4;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: auto;
    padding-right: 8px;
}

.item-grid::-webkit-scrollbar {
  width: 6px;              
}

.item-grid::-webkit-scrollbar-track {
  background: transparent;
}

.item-grid::-webkit-scrollbar-thumb {
  background-color: #66666691; 
  border-radius: 3px;      
}

.item {
    text-align: center;
    cursor: pointer;
    transition: transform 0.15s;
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    border-radius: 5px;
    background: #b9b2b2;
    border: 1px solid #242424;
}

.item p {
    margin: 5px 0 0;
    font-size: 12px;
}

.content {
    flex: 1;
    padding: 20px;
}

.tools-buttons {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    z-index: 1000;
    background: #d8d1d1;
    border: 1px solid #999797;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

h4 {
    padding: 3px;
    margin: 0;
}

.tools-buttons h4 {
    font-size: 13px;
    padding: 3px;
    margin: 0;
}

.tool-btn {
    width: 48px;
    height: 48px;
    background: #b9b2b2;
    border: 1px solid #242424;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s
}

.tool-btn.toggle-off {
    background: #aa4345d8 !important; 
}

.tool-btn.toggle-on {
    background: #c5ebc5 !important;
}

.tool-btn.toggle-off:hover {
    background: #aa4345bb !important;
}

.tool-btn.toggle-on:hover {
    background: #c5ebc5d8 !important;
}

.tool-btn:hover {
    background: #cac3c3;
}

.tool-btn img {
    height: 42px;
    width: 42px;
    object-fit: contain;
}

.menu.hidden {
    display: none;
}

.menu {
    position: absolute;
    bottom: 15px;
    right: 90px;
    z-index: 999;
    background: #d8d1d1;
    border: 1px solid #999797;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    padding: 10px;
    text-align: center;
}

.menu-options {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    justify-content: center;
}

.crusher-toggle {
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
}

.option-btns {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60px;
}

.option-btns p {
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.option {
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    border: 1px solid #242424;
    background: #b9b2b2;
}

.option.selected {
    background: #c5ebc5
}

.option img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.credits-box {
    position: fixed;
    top: 15px;
    right: 15px;
    background: #d8d1d1;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: #464343;
    max-width: 250px;
    line-height: 1;
    border: 1px solid #999797;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    text-align: center;
}

.credits-box a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #d46001;
    transition: color 0.2s;
}

.credits-box a:hover {
    color: #dd6e14;
}

.smelter-menu h4 {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}